Source: libkompex
Priority: devel
Maintainer: Alexandre ACEBEDO <alexandre.acebedo@gmail.com>
Build-Depends: cmake, build-essential, libsqlite3-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://sqlitewrapper.kompex-online.com/


Package: libkompex
Architecture: any
Depends: libsqlite3-dev
Description: SQLite C++ wrapper.
